.container1 {
  display: flex;
  justify-content: flex-start;
  background-image: url("bgazul.png");
  
}
.container2 {
  display: flex;
  justify-content: flex-start;
  background-image: url("bg2.jpg");
  
}








.main-content {
  display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
}

input[type="date"],
input[type="number"],
select ,button{
  margin-bottom: 10px;
  width: calc(100% - 40px); 
  padding: 10px;
  border: 2px solid ;
  border-radius: 10px;
  box-sizing: border-box; 
  outline: none;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.button-header{
  
  width: 250px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #d6dcfd;
  color: white;
}
.input1{
  background-color: #F9F9F9;
  border-radius: 8px;
  height: 25px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-block-start: 15px;
}

.filter {
  margin-bottom: 20px;
  position: relative;
}




.photo {
  width: 300px; 
  height: 170px; 
  margin-left: 1px;
  overflow: hidden; 
  
}

.photo img {
  width: 300px; /* Make the image fill the entire width of the container */
  height: 180px; /* Make the image fill the entire height of the container */
  position: absolute; /* Position the image */
  top: 10; /* Position from top */
  left: 24px; /* Position from left */
  border-radius: 8px;
  
}



.button1 {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
  font-size: 20px; 
   
  cursor: pointer;
  height: 50px;
  width: 250px;
  color: #f0f0f0;
  border-radius: 8px;
}
.button1:hover{
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.button1 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button1:before,
.button1:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.button1:before {
  height: 0%;
  width: .1px;
}
.button1:after {
  width: 0%;
  height: .1px;
}
.button1:hover:before {
  height: 100%;
}
.button1:hover:after {
  width: 100%;
}
.button1 span:before,
.button1 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.button1 span:before {
  width: .1px;
  height: 0%;
}
.button1 span:after {
  width: 0%;
  height: .1px;
}
.button1 span:hover:before {
  height: 100%;
}
.button1 span:hover:after {
  width: 100%;
}
.cancel{
  position: absolute;
  right: 180px;
  bottom: -12px;
  margin: 100px;
}
.add{
  position: absolute;
  left: 280px;
  bottom: 79px;
  
}

.textg1
{

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-align: center;
  font-weight: 600;
  margin: 20px;

}
.textg2
{

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-align: center;
  font-weight: 600;
  margin: 20px;

}

.btn-2 {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  position: relative;
  right: 10px;
  bottom: 50px;
  color: white;
  width: 120px;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}




.price-circle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute; 
  left: 260px; 
  bottom: 10px;
  background-color: #470101; 
  color: white;
  padding: 6px; 
  border-radius: 50%; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center; 
  
  width: 50px;
  height: 50px; 
}


.description {
  position: relative; 
  overflow: hidden; 
  padding: 200px;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}


.photobg {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: -1; 
}
.description p {
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #3856fc;
  
}
.line {
  width: 100%;
  height: 2px; 
  border-bottom: 1px solid #ccc; 
  margin: 20px 0; 
  padding: 2px;
}
.rating {
  color: #f1c40f; 
  font-size: 18px; 
  position: absolute;
  top: 230px;
  right: 10px;
  margin-top: -5px;
}

.star {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  position: relative;
  overflow: hidden;
}

.star::before {
  content: '\2605'; 
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.star.half::before {
  content: '\2605'; 
    font-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #f1c40f 50%, grey 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.empty::before {
  color: grey; 
}
.card {
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box; 
  
  font-family: 'Montserrat', sans-serif;
  
  width: 350px;
  height: 400px;
  margin: 20px;
  background-image: url("bgazul.png");
}

.card .face {
  width: 350px;
  height: 200px;
  transition: 0.5s;
}

.card .face.face1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(0px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  width: 350px;
  height: 400px;
  border-radius: 8px;
  border-color: #414141;
  background-image: url("bgazul.png");
  
}

.card:hover .face.face1{
  background: #ffffff;
  transform: translateY(-80px);
  background-image: url("bgazul.png");
}
.card .face.face1 .contents {
  opacity: 1;
  transition: 0.5s;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.card .face.face1 .contents h3{
  font-size: 24px;
  font-weight: bold;
}

.card:hover .face.face1 .contents {
  
  opacity: 1;
}



.card .face.face2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  transform: translateY(-100px);
}

.card:hover .face.face2{
  transform: translateY(0);
}

.card .face.face2 .contents {
  position: absolute;
  right: 100px;
  bottom: -35px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.mySelect {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.mySelect option {
  padding: 5px;
  border-bottom: 1px solid #eee;
  outline: none;
}

.mySelect option:hover {
  background-color: #f0f0f0;
}
.mySelect option:checked {
  background-color: #4dccc6;
  
}






.range-slider {
  margin: 10px 0 0 0;
}
.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 700px;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;

  
  &::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#4dccc6;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: #4dccc6;
    }
  }

  &:active::-webkit-slider-thumb {
    background:#4dccc6;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: red;
    }
  }

  &:active::-moz-range-thumb {
    background: red;
  }
  
  
  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px white,
                  0 0 0 6px #17746f;
    }
  }
}



.range-slider__value {
  display: inline-block;
  position: relative;
  width: 45px;
  color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #17746f;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #17746f;
    border-bottom: 7px solid transparent;
    content: '';
  }
}




input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.dialog-content {
  background-color: white;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 5px;
  width: 800px;
  height: 480px;
  background-image: url("bgazul.png");

}
header {
  background-color: #3856fc;
  color: white;
  padding: 20px;
  text-align: left;
  transition: height 0.5s ease;
}



.space1{

  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin: 40px;
  height: 600px;
  width: 900px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  margin-top: 20px;
  background-image: url("bgazul.png");
}
.space2{

  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  
  height: 600px;
  width: 300px;
  margin: 40px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  margin-top: 20px;
  background-image: url("bgazul.png");
}




.box{
  width: 800px; 
    height: 250px; 
    overflow: auto; 
    border-radius: 8px;
    position: absolute;
    left: 120px;
    bottom: 250px;
    border: 1px solid darkgrey;
}

details {
  user-select: none;
  border-radius: 8px;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

details>summary span {
  
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
  color: #f0f0f0;
  border-radius: 8px;
}



summary {
  display: flex;
  cursor: pointer;

}

summary::-webkit-details-marker {
  display: none;
}

.menu-icon {
  margin-top: -8px;
   
}




/* CSS */
.buttonCon {
  align-items: center;
  background-color: #03d65b;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.buttonCon:hover,
.buttonCon:focus { 
  background-color: #01e746;
  color: #ffffff;
}

.buttonCon:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}
.buttonCan {
  align-items: center;
  background-color: #e70101;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.buttonCan:hover,
.buttonCan:focus { 
  background-color: #ff3d3d;
  color: #ffffff;
}

.buttonCan:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}
